<div
  class="w-screen h-top bg-bg-image bg-no-repeat bg-cover grid place-items-center"
>
  <h1 class="text-theme-black text-2xl tracking-wider font-Geologica">
    Ryunosuke Takahashi
  </h1>
</div>
